In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization

In [75]:
data = 'C:\\Users\\manoj\\Desktop\\svm\\train.csv'

train = pd.read_csv(data)

In [76]:
data = 'C:\\Users\\manoj\\Desktop\\svm\\test.csv'

test = pd.read_csv(data)

In [77]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [78]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [79]:
target = 'Survived'

In [80]:
# import SVC classifier
from sklearn.svm import SVC
# import linear regression
from sklearn.linear_model import LogisticRegression

In [81]:
# import metrics to compute accuracy
from sklearn.metrics import accuracy_score

In [82]:
svc=SVC()

In [83]:
# fit classifier to training set
svc.fit(train,test)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [60]:
# make predictions on test set
y_pred=svc.predict(X_test)

In [61]:
# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.9827

In [62]:
X_train.head()

,IP_Mean,IP_Sd,IP_Kurtosis,IP_Skewness,DM_SNR_Mean,DM_SNR_Sd,DM_SNR_Kurtosis,DM_SNR_Skewness
0,0.377102,0.186432,-0.213043,-0.303767,-0.162367,0.445494,-0.764988,-0.762900
1,0.219585,0.311963,-0.268826,-0.252348,-0.329485,-0.502235,-0.023698,-0.184681
2,-1.699540,1.699078,1.248413,0.094819,2.027133,2.764156,-1.688753,-0.993425
3,-0.676429,-1.788178,0.157113,0.176569,-0.304813,-0.216554,-0.183040,-0.408275
4,-0.443917,0.302114,-0.016524,-0.250519,-0.374223,-0.677774,0.643273,0.491991

In [64]:
y_train.head()

3055     0
10138    0
3600     1
16245    0
6079     0
Name: target_class, dtype: int64

In [67]:
predictions = svc.predict(X_train)

In [68]:
predictions

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [70]:
#Create a  DataFrame with the passengers ids and our prediction regarding whether they survived or not
submission = pd.DataFrame({'IP_Mean':df['IP_Mean'],'Target':predictions})

#Visualize the first 5 rows
submission.head()

ValueError: array length 14318 does not match index length 17898